/* ----- Colors ----- */

$bg-grey: hsl(0, 0%, 95%);
$bg-purple: hsl(240, 20%, 22%);
$bg-yellow: hsl(54, 68%, 91%);
$bg-creme-brulee: hsl(75, 100%, 98%);
$bg-green: hsl(77, 26%, 95%);

$black25:  hsla(0, 0%, 0%, 0.25);
$black50: hsla(0, 0%, 0%, 0.5);
$black75: hsla(0, 0%, 0%, 0.75);

/* ----- Material Design Breakpoints ----- */

$xs: 320px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1440px;
